# This is a template file. 
# Copy this file to a new file named '.env' and fill in your actual keys.

EXPO_PUBLIC_GOOGLE_PLACES_KEY=your_google_api_key_here
EXPO_PUBLIC_BACKEND_URL=http://your_computer_ip_here:8000